

@mixin disposicion($alineacion) {
    display: flex;
    align-items: center;
    justify-content: $alineacion;
}


.main__index{
    @include disposicion(center);
    gap: 15rem;
    margin: 30px 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}    

